{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Bienvenue sur le Tableau de Bord</h2>
            <p>Utilisez le menu de gauche pour naviguer entre les différentes sections :</p>
            <ul>
                <li><strong>Palmarès des Ventes</strong> : Affiche les performances des ventes par produit.</li>
                <li><strong>Ajouter des Données Logistiques</strong> : Ajoutez ou mettez à jour les données logistiques pour les produits.</li>
                <li><strong>Ventes Moyennes</strong> : Affiche les ventes mensuelles moyennes et leur évolution.</li>
                <li><strong>Ventes par Représentant</strong> : Consultez les performances individuelles des représentants commerciaux.</li>
                <li><strong>Ventes Mensuelles</strong> : Analysez les ventes par mois pour chaque produit ou représentant.</li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Dernières modification
                </div>
                <div class="card-body">
                    <p>Récapitulatif des ventes récentes, mises à jour logistiques et autres activités importantes.</p>
                    <ul>
					    <li>31/01/2025 : Creation de la page palmares pharmacie</li>
                        <li>Creation d'une carte de la france avec l'implantation des pharmacies partenaires et des agents commerciaux</li>
						<li>Ajout d'une page avec affichage de tous les produits en bon de commande (reliquat et nouvelles commandes)</li>
                 
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Statistiques Globales
                </div>
                <div class="card-body">
                    <p>Vue d'ensemble des statistiques clés :</p>
                    <ul>
                        <li><strong>Chiffre d'affaires mois en cours : </strong> : {{ ca_mois }}€</li>
                        <li><strong>Évolution par rapport à l'année dernière : </strong> : {{ evolution }}%</li>
                        <li><strong>Top 10 Produits</strong></li>
							<ul>
								{% for product in top_products %}
									<li>{{ product.nom_produit }} : {{ product.quantite_totale }} unités vendues</li>
								{% endfor %}
							</ul>

							<li><strong>Top 5 Représentants</strong></lo>
							<ul>
								{% for rep in top_representatives %}
									<li>{{ rep.nom_representant }} : {{ rep.chiffre_affaire }}€</li>
								{% endfor %}
							</ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
